<div class="theme_color_section" *ngIf="hideThemesection">
    <div class="container">
        <div class="sub_theme">
            <ul>
                <li>
                    <a (click)="refreshrate.show()">
                        <img src="/assets/images/price_interval.png">
                        <span>Refresh Rate</span>
                    </a>
                </li>
                <li>
                    <a (click)="nightmode()">
                        <img src="/assets/images/black_out_color.png" />
                        <span>Night Mode</span>
                    </a>
                </li>
                <li>
                    <a>
                        <label class="switch">
                            <input type="checkbox" checked (click)="siteColor()">
                            <span class="slider round"></span>
                        </label>
                        <!-- <img src="/assets/images/site_color.png"/>-->
                        <span>Site Color</span>
                    </a>
                </li>
                <li>
                    <span class="customize_call" (click)="customize.show()" mdbWavesEffect>
                        <i class="fa fa-columns" aria-hidden="true"></i>Customize Columns</span>
                </li>
            </ul>

            <div class="sel-term">

                <div class="in_sel-term1">

                    <div class="opt_tlt">
                        <img [src]="currencyImg" />
                        <span>{{currencyText}}</span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="opt_lst">

                        <span class="opt_arw" [class.active]="currencyorder === 'info.currencyname'" (click)="sort('info.currencyname')">
                            <label>sort</label>
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </span>
                        <div *ngFor="let row of collection1 | orderBy: key : reverse ;">
                            <div class="opt_tlt" (click)="selectCurrency(row.info.currencyname,row.info.currencyimage)">
                                <img src={{row.info.currencyimage}}> {{ row.info.currencyname }}</div>
                        </div>
                    </div>

                </div>
                <div class="in_sel-term1">
                    <div class="opt_tlt">
                        <img [src]="languageImg" />
                        <span>{{languageText}}</span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="opt_lst">

                        <span class="opt_arw" [class.active]="order === 'info.languagename'" (click)="sort('info.languagename')">
                            <label>sort</label>
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>

                        </span>
                        <div *ngFor="let row of collection | orderBy: order:reverse:'case-insensitive'">

                            <div class="opt_tlt" (click)="selectLanguage(row.info.languagename,row.info.languageimage)">
                                <img src={{row.info.languageimage}}> {{ row.info.languagename }}</div>


                        </div>
                    </div>

                </div>
                <button type="button" class="button_icon" (click)="style.show()">
                    <i class="fa fa-save waves-light " aria-hidden="true"></i>Save</button>
                <input type="search" placeholder="" class="search_icon" />
                <span class="close_icon">
                    <i (click)="themeSectionHide()" class="fa fa-close" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Refresh Rate -->

<div mdbModal #refreshrate="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"> Refresh Rate</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="refreshrate.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body refresh_rate">

                <ion-range-slider #sliderElement type="single" [min]="0" max="30" from="0" from_min="0" from_max="30" from_shadow="false"
                    to="0" hasGrid="false" to_min="0" step="5" to_max="30" to_shadow="false" grid="true" grid_num="6" postfix=" Seconds Interval"
                    decorate_both="false" (onUpdate)="myOnUpdate($event)" (onChange)="myOnChange($event)" (onFinish)="myOnFinish($event)">
                </ion-range-slider>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info float-left" data-dismiss="modal" (click)="refreshrate.hide()" mdbWavesEffect>Pause</button>
                <button type="button" class="btn btn-outline-info float-right" data-dismiss="modal" (click)="refreshrate.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Refresh Rate -->


<!-- Customize -->





<!--Modal: customize column-->
<div mdbModal #customize="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-columns" aria-hidden="true"></i> Customize Columns</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="customize.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body customize_main">

                <div class="customize_col">

                    <div class="options_list">
                        <div class="desktop_options col-md-6 col-lg-6 col-sm-12 col-xs-12">
                            <span class="lst_tlt">Desktop Columns</span>
                            <div class="form-check" *ngFor="let desklist of desktoplists">
                                <input class="form-check-input" mdbInputDirective [checked]="desklist.ischecked" type="checkbox" name="listsgroup">
                                <label class="form-check-label">{{desklist.label}}</label>
                            </div>
                        </div>
                        <div class="mobile_options col-md-6 col-lg-6 col-sm-12 col-xs-12">
                            <span class="lst_tlt">Mobile Columns</span>
                            <div class="form-check" *ngFor="let moblist of mobilelists">
                                <input class="form-check-input" mdbInputDirective [checked]="moblist.ischecked" type="checkbox" name="listsgroup">
                                <label class="form-check-label">{{moblist.label}}</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="customize.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Customize column Form-->
<!-- popup -->