<div class="theme_color_section" *ngIf="hideThemesection">
    <div class="container">
        <div class="sub_theme">
            <ul>
                <li>
                    <a (click)="refreshrate.show()">
                        <img src="/assets/images/price_interval.png">
                        <span class="nowrap_text">Refresh Rate</span>
                    </a>
                </li>
                <li>
                    <a (click)="nightmode()">
                        <img src="/assets/images/black_out_color.png" />
                        <span class="nowrap_text">Night Mode</span>
                    </a>
                </li>
                <li>
                    <a>
                        <label class="switch">
                            <input type="checkbox" checked (click)="siteColor()">
                            <span class="slider round"></span>
                        </label>
                        <!-- <img src="/assets/images/site_color.png"/>-->
                        <span class="nowrap_text">Site Color</span>
                    </a>
                </li>
                <li>
                    <span class="customize_call nowrap_text" (click)="customize.show()" mdbWavesEffect>
                        <i class="fa fa-columns" aria-hidden="true"></i>Customize Columns</span>
                </li>
            </ul>

            <div class="sel-term">

                <div class="in_sel-term1">

                    <div class="opt_tlt">
                        <span>{{currencyText}}</span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="opt_lst">

                        <span class="opt_arw" [class.active]="currencyorder === 'id'" (click)="sort('id')">
                            <label>Sort </label>
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>
                        </span>
                        <div *ngFor="let ctL of currencyTypeList | orderBy: key : reverse ;">
                            <div class="opt_tlt" (click)="selectCurrency(ctL.id)">
                                 {{ ctL.id }}</div>
                        </div>
                    </div>

                </div>
                <div class="in_sel-term1">
                    <!-- <div class="opt_tlt">
                        <img [src]="languageImg" />
                        <span>{{languageText}}</span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="opt_lst">

                        <span class="opt_arw" (click)="sort('languagename')">
                            <label>sort</label>
                            <span [hidden]="reverse">▼</span>
                            <span [hidden]="!reverse">▲</span>

                        </span>
                        <div *ngFor="let row of collection | orderBy: key :reverse">

                            <div class="opt_tlt" (click)="selectLanguage(row.languagename,row.languageimage)">
                                <img src={{row.languageimage}}> {{ row.languagename }}</div>


                        </div>
                    </div> -->
                    <div id="google_translate_element"></div>
                </div>
                <button type="button" class="button_icon" (click)="saveThemeStructure()">
                    <i class="fa fa-save waves-light " aria-hidden="true"></i>Save</button>
                <input type="search" placeholder="" class="search_icon" />
                <span class="close_icon">
                    <i (click)="themeSectionHide()" class="fa fa-close" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- Refresh Rate -->

<div mdbModal #refreshrate="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"> Refresh Rate</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="refreshrate.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body refresh_rate">
                <!-- <p class="siteRefreshText">Site will refresh on every {{changeRefreshRate}} </p> -->
               <div (click)="refreshRateChange()"> <nouislider [config]="someRange2config"  [tooltips]="[ true]"  [(ngModel)]="someRange" ></nouislider>
            </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info float-left" data-dismiss="modal" (click)="noRefresh()" mdbWavesEffect>Stop Refresh</button>
                
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Refresh Rate -->


<!-- Customize -->





<!--Modal: customize column-->
<div mdbModal #customize="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-columns" aria-hidden="true"></i> Customize Columns</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="customize.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body customize_main">

                <div class="customize_col">

                    <div class="options_list">
                        <div class="desktop_options col-md-4 col-lg-4 col-sm-12 col-xs-12">
                            <span class="lst_tlt">Desktop</span>
                            <div class="form-check" *ngFor="let desklist of desktoplists">
                                <input class="form-check-input" [(ngModel)]="desklist.ischecked"  (change)="coulumnCustomization({desktop : desktoplists,mobile:mobilelists,app : mobilelists},desktoplists)" type="checkbox" name="listsgroup">
                                <label class="form-check-label">{{desklist.label}}</label>
                            </div>
                        </div>
                        <div class="mobile_options col-md-4 col-lg-4 col-sm-12 col-xs-12">
                            <span class="lst_tlt">Mobile</span>
                            <div class="form-check" *ngFor="let moblist of mobilelists">
                                <input class="form-check-input" [(ngModel)]="moblist.ischecked"  (change)="coulumnCustomization({desktop : desktoplists,mobile:mobilelists,app : mobilelists},mobilelists)"  type="checkbox" name="listsgroup">
                                <label class="form-check-label">{{moblist.label}}</label>
                        </div>
                        </div>
                        <div class="app_options col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                <span class="lst_tlt">App</span>
                                <div class="form-check" *ngFor="let app of appList">
                                    <input class="form-check-input" [(ngModel)]="app.ischecked"  (change)="coulumnCustomization({desktop : desktoplists,mobile:mobilelists,app : appList},appList)"  type="checkbox" name="listsgroup">
                                    <label class="form-check-label">{{app.label}}</label>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="customize.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Customize column Form-->
<!-- popup -->


<!--Modal: Login Form-->
<div mdbModal #loginform="mdb-modal" class=" modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-user"></i> Log in</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="loginform.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input  type="text" [(ngModel)]="userLogin.emailId" class="form-control">
                    <label for="form30" >Enter email</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input  type="password" [(ngModel)]="userLogin.password"  class="form-control">
                    <label for="form31" >Enter password</label>
                </div>
                
                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" (click)="loginWithMail(userLogin)"   mdbWavesEffect>Log in <i class="fa fa-sign-in ml-1"></i></button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Not a member? <a (click)="loginform.hide();registerform.show()" >Sign Up</a></p>
                    <p>Forgot <a href="#">Password?</a></p>
                </div>
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="loginform.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login Form-->

<!--Modal: Register Form-->
<div mdbModal #registerform="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i class="fa fa-user-plus"></i> Register</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="registerform.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                        <i class="fa fa-envelope prefix"></i>
                        <input  type="text"  [(ngModel)]="userReg.userName" class="form-control">
                        <label for="form32">User Name</label>
                    </div>
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input  type="text"  [(ngModel)]="userReg.emailId" class="form-control">
                    <label for="form32">Your email</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input  type="password" [(ngModel)]="userReg.password" (blur)="confirmPassword()" id="form33" class="form-control">
                    <label for="form33">Your password</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input  type="password" [(ngModel)]="userReg.confrmPswrd" (blur)="confirmPassword()" id="form34" class="form-control">
                    <label for="form34">Repeat password</label>
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" (click)="signUpWithMail(userReg)" mdbWavesEffect>Sign up <i class="fa fa-sign-in ml-1"></i></button>
                </div>
               

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Already have an account? <a (click)="registerform.hide();loginform.show()">Log In</a></p>
                </div>
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="registerform.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Register Form-->