<div class="load_spinner" *ngIf="showLoadSpinner"><span class="fa fa-spinner fa-spin fa-2x"></span></div>

<div class="exchanges_page">
  <div class="container">
 <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 table-responsive coin-page-lft list_view_table">
  <table border="0" cellpadding="0" cellspacing="0"  class="table-responsive" id="exchange_list">
  <thead>
    <tr>
        <th>#</th>
        <th (click)="sort('name')">Exchange</th>
        <th (click)="sort('NoOfCoins')">No of coins</th>
        <th (click)="sort('name')">Volume</th>
        <th (click)="sort('name')">Volume%</th>
        <th >Trade</th>
      </tr>
  </thead>

  <tbody>
     <tr *ngFor="let exchanges of exchangeData | filter: searchText | orderBy: key : reverse;let i = index">
      <td>{{i +1}}</td>
      <td class="exchange_clr">{{exchanges.name}}</td>
      <td>{{exchanges.NoOfCoins}}</td>
      <td>{{exchanges.volume | number : '.0-2'}}</td>
      <td>{{exchanges.volumePercent | number : '.0-2'}}</td>
      <td class="trade_btn"><button>Trade </button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="noData" class="noDataFound">No Data found!</div>
</div>
</div>
</div>