<div class="login-frm-main">
  <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
        <!-- <div class="login_logo">
          <a href="#" class="logo"><img src="/assets/images/logo.png" alt="Coinwave"/><span>Coin <b>wave</b></span></a>
        </div> -->
        <div class="sign_title">
        <h2>Sign Up A <a href="#">100% FREE</a> Account & Save Your Site Settings</h2>
        </div>
      </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sign_login">
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"> 
          <div class="sign_login_left">
                  
              <ul class="sign_login_tab">
                  <li class="active"><a href="#">Sign Up</a></li>
                  <li><a href="#">Login</a></li>
              </ul>
              <div class="log_pg">
               <h3>Sign Up a <a href="#">FREE</a> account & Save<br/>
                 Your Site Preferences and Coins</h3>
              
               <a class="email_mg" id="googleSignIn" (click)="signIn()"><img src="/assets/images/login_signinemail.png" alt="Sign Up with email"/></a>
               <span>Or Sign With:</span>
               <ul>
                   <li><a href="#"><img src="/assets/images/login_facebook.png" alt="Facebook"/></a></li>
                   <li><a href="#"><img src="/assets/images/login_google.png" alt="Coogle Plus"/></a></li>
                   <li><a href="#"><img src="/assets/images/login_twitter.png" alt="Twitter"/></a></li>
                   <li><a href="#"><img src="/assets/images/login_linkedin.png" alt="Linkedin"/></a></li>

               </ul>
              </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <div class="sign_login_right">
                
                  <h2>Free Features:</h2>
                  <ul>
                      <li><p>Add Coins To Your Portfolio</p></li>
                      <li><p>Save & Edit The Frequency</li>
                      <li><p>Save Your Favorite Coins</li>
                      <li><p>SAVE YOUR CHART/GRAPH SETTINGS</p></li>
                      <li><p>SAVE YOUR SITE COLOR/p></li>
                      <li><p>SAVE WHICH DATA POINTS ARE DISPLAYED</p></li>
                      <li><p>Save Your Advanced Search Filters</p></li>
                      <li><p>SAVE ALL CUSTOM SITE VIEW OPTIONS</p></li>
                      <li><p>ALL SETTINGS WILL VERTICALLY INTEGRATE BETWEEN 
                          DESKTOP, TABLET, MOBILE, & iOS / ADROID (coming soon)</p></li>
                  </ul>
                  <p>You can keep track of your favorite coins, pricing, and exchanges all from
                          one central location</p>
          </div>
          </div>
     

      </div>
  </div>
</div>