<div class="login-frm-main">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="login_logo">
                    <a href="#" class="logo notranslate">
                        <img src="/assets/images/logo.png" alt="Coinwave" />
                        <span>Coin
                            <b>wave</b>
                        </span>
                    </a>
                </div>
                <div class="sign_title">
                    <h2>Sign Up A
                        <a href="#">100% FREE</a> Account & Save Your Site Settings</h2>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sign_login">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="sign_login_left">

                    <ul class="sign_login_tab">
                        <!-- <li class="active"><a href="#">Sign Up</a></li> -->
                        <li>
                            <a>Login</a>
                        </li>
                    </ul>
                    <div class="log_pg">
                        <h3>Sign Up a
                            <a href="#">FREE</a> account & Save
                            <br/> Your Site Preferences and Coins</h3>

                        <a class="email_mg" id="googleSignIn" (click)="loginform.show()">
                            <img src="/assets/images/login_signinemail.png" alt="Sign Up with email" />
                        </a>
                        <span>Or Sign With:</span>
                        <ul>
                            <li>
                                <a (click)="signInWithFB()">
                                    <img src="/assets/images/login_facebook.png" alt="Facebook" />
                                </a>
                            </li>
                            <li>
                                <a (click)="signInWithGoogle()">
                                    <img src="/assets/images/login_google.png" alt="Google Plus" />
                                </a>
                            </li>
                            <!-- <li><a (click)="getHomeTimeline()"><img src="/assets/images/login_twitter.png" alt="Twitter"/></a></li> -->
                            <li>
                                <a (click)="signInWithLinkedIN()">
                                    <img src="/assets/images/login_linkedin.png" alt="Linkedin" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <div class="sign_login_right">
                    <h2>Free Features:</h2>
                    <ul>
                        <li>
                            <p>Add Coins To Your Portfolio</p>
                        </li>
                        <li>
                            <p>Save & Edit The Frequency</li>
                        <li>
                            <p>Save Your Favorite Coins</li>
                        <li>
                            <p>SAVE YOUR CHART/GRAPH SETTINGS</p>
                        </li>
                        <li>
                            <p>SAVE YOUR SITE COLOR/p></li>
                        <li>
                            <p>SAVE WHICH DATA POINTS ARE DISPLAYED</p>
                        </li>
                        <li>
                            <p>Save Your Advanced Search Filters</p>
                        </li>
                        <li>
                            <p>SAVE ALL CUSTOM SITE VIEW OPTIONS</p>
                        </li>
                        <li>
                            <p>ALL SETTINGS WILL VERTICALLY INTEGRATE BETWEEN DESKTOP, TABLET, MOBILE, & iOS / ADROID (coming
                                soon)</p>
                        </li>
                    </ul>
                    <p>You can keep track of your favorite coins, pricing, and exchanges all from one central location</p>
                </div>
            </div>


        </div>
    </div>
</div>

<!--Modal: Login Form-->
<div mdbModal #loginform="mdb-modal" class=" modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-user"></i> Log in</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="loginform.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" [(ngModel)]="userLogin.emailId" class="form-control">
                    <label for="form30">Enter email</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" [(ngModel)]="userLogin.password" class="form-control">
                    <label for="form31">Enter password</label>
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" (click)="loginWithMail(userLogin)" mdbWavesEffect>Log in
                        <i class="fa fa-sign-in ml-1"></i>
                    </button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Not a member?
                        <a (click)="loginform.hide();registerform.show()">Sign Up</a>
                    </p>
                    <p>Forgot
                        <a href="#">Password?</a>
                    </p>
                </div>
               
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login Form-->

<!--Modal: Register Form-->
<div mdbModal #registerform="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-user-plus"></i> Register</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="registerform.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" [(ngModel)]="userReg.userName" class="form-control" placeholder="User Name">
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" [(ngModel)]="userReg.emailId" class="form-control" placeholder="Enter Email">
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" [(ngModel)]="userReg.password" (blur)="confirmPassword()" id="form33" class="form-control" placeholder="Enter Password">
                    
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" [(ngModel)]="userReg.confrmPswrd" (blur)="confirmPassword()" id="form34" class="form-control" placeholder="Confirm Password">
                    
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" (click)="signUpWithMail(userReg)" mdbWavesEffect>Sign up
                        <i class="fa fa-sign-in ml-1"></i>
                    </button>
                </div>


            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Already have an account?
                        <a (click)="registerform.hide();loginform.show()">Log In</a>
                    </p>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Register Form-->