<div class="load_spinner" *ngIf="showLoadSpinner">
  <span class="fa fa-spinner fa-spin fa-2x"></span>
</div>
<div class="portfolio_main">
  <div class="container">
    <div class="grid_view_head">
      <h6>
        <b>{{userName}}</b>
      </h6>
      <div class="price_data">
        <h2>$2,000.00
          <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </h2>
      </div>
      <div class="grid_list_tab">
        <ul>
          <li style="cursor:pointer">
            <button (click)="addCoin.show()" *ngIf="isLoggedin" class="addCoin_btn">Add Coins</button>
          </li>
          <!-- <li (click)="changeGridView('list_view')" style="cursor:pointer" class="active" id="list_view">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <span>List View</span> 
          </li>
          <li (click)="changeGridView('grid_view')" style="cursor:pointer" id="grid_view">
            <i class="fa fa-table" aria-hidden="true"></i>
           <span>Grid View</span> 
          </li> -->
        </ul>
      </div>
    </div>

    <!--grid_view-->
    <div class="grid_view" *ngIf="gridSelected">
      <div class="grid_view_details">
        <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let coins of portfoliogrid | filter: searchText ">
          <div class="bitsoin">
            <h2> {{coins.name | uppercase}}</h2>
            <ul>
              <li>
                <p>
                  <label>PRICE </label>
                  <span class="price_head">{{ coins.price }}</span>
                </p>
              </li>
              <li>
                <p>
                  <label>24 HR Change </label>
                  <span>{{coins.dayPrice | number : '.0-2'}}</span>
                </p>
              </li>
              <li>
                <p>
                  <label>7 Day Chnage </label>
                  <span>{{coins.weeklyChange | number : '.0-2'}} ({{coins.weeklyChangePercent | number : '.0-2'}}%)</span>
                </p>
              </li>
              <li>
                <p>
                  <label>24 HR Volume</label>
                  <span>{{coins.dayVolume | number : '.0-2'}}</span>
                </p>
              </li>
              <li>
                <p>
                  <label>Market Cap</label>
                  <span>{{coins.marketCapValue | number : '.0-2'}}</span>
                </p>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--grid_view-->

    <!--list_view-->
    
    <div class="table-responsive col-sm-12 col-xs-12 col-md-12 col-lg-12 coin-page-lft list_view_table" *ngIf="listSelected">
      <app-tv-chart-container  #component1></app-tv-chart-container>
    </div>
    <!--list_view-->
    <div *ngIf="noData" class="noDataFound">You have not yet added any data to portfolio!</div>
    <div *ngIf="getLoggedIn" class="noDataFound">Please Log in To Get Portfolio List</div>
  </div>
</div>



<div mdbModal #addCoin="mdb-modal" class="modal fade" id="addPortfolio_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <!-- <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-user-plus"></i> Register</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="registerform.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div> -->
      <!--Body-->
      <div class="modal-body">
        <label style="color:red;" *ngIf="errormessageSignUp">Please Enter all mandatory fields</label>
        <form id="signuPCredentials">
          <div class="md-form form-sm">
            <select class="select_dropdown" id="selectDropDown"  (change)="getCurrencyDetails($event.target.value)">
              <option disabled value="name">Name of Coin</option>
              <option *ngFor="let currency of currencyList;let i = index;" value="{{currency.symbol}}">{{currency.name}}</option>
            </select>
          </div>

          <div class="md-form form-sm">
            <!-- <i class="fa fa-envelope prefix"></i> -->
            <input type="text" name="total_coins" [(ngModel)]="addCoinModel.total_coins" class="form-control required placeholder_color" placeholder="Quantity">
          </div>
          <div class="md-form form-sm">
            <!-- <i class="fa fa-envelope prefix"></i> -->
            <input type="text" name="price_paid" [(ngModel)]="addCoinModel.price_paid" class="form-control required placeholder_color" placeholder="Price Paid">
          </div>
          <!-- <div class="placeholder_color">
            <input type="checkbox" > Calculate Average Price.
          </div> -->
          <div class="md-form form-sm">
            <!-- <i class="fa fa-envelope prefix"></i> -->
            <!-- <input type="date" name="trade_date" [(ngModel)]="addCoinModel.trade_date" class="form-control required placeholder_color" placeholder="Date of Purchase"> -->
            <div class="col-xs-12  form-group">
              <input type="text" [(ngModel)]="addCoinModel.trade_date"
                     placeholder="Datepicker"
                     class="form-control"
                     bsDatepicker>
            </div>
          </div>
          <div class="text-center mt-2">
            <button class="btn btn-info waves-light" (click)="AddCoinIntoPortfolio(addCoinModel)" mdbWavesEffect>Add Coin
              <!-- <i class="fa fa-sign-in ml-1"></i> -->
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>