<div class="fixed_footer">
  <links>
    <ul>
      <li routerLink="/coinlist">
        <img src="/assets/images/footer/coins.png">
        <span>Coins</span>
      </li>
      <li routerLink="/portfolio">
        <img src="/assets/images/footer/portfolio.png">
        <span>Portfolio</span>
      </li>
      <li routerLink="/exchange">
        <img src="/assets/images/footer/lr_arrow.png">
        <span>Exchange Tools</span>
      </li>
      <li>
        <img src="/assets/images/footer/more.png">
        <span>More</span>
      </li>
    </ul>
  </links>
</div>