<div class="table-responsive">
  <table id="coin_list_table" class="table table-condensed table-bordered data-table " style="white-space:nowrap;">
    <thead>
      <th>#</th>
      <th *ngIf="resolutionColumn.coin" (click)="sort('name');">Coins
        <span class="fa sort-icon" *ngIf="key =='name'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th *ngIf="resolutionColumn.price" (click)="sort('price')" style="width:130px;">Price
        <span class="fa sort-icon" *ngIf="key =='price'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th *ngIf="resolutionColumn.expand">Graph</th>
      <th *ngIf="resolutionColumn.favourite" style="width:40px;pointer-events:none;"><input type="checkbox" class="favorite_coin" checked ></th>
      <th *ngIf="resolutionColumn.dayChange" (click)="sort('HRchange')" style="width:130px;">24 HR (%)
        <span class="fa sort-icon" *ngIf="key =='HRchange'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th *ngIf="resolutionColumn.weaklyChange" (click)="sort('dayChange')" style="width:130px;">7 Days (%)
        <span class="fa sort-icon" *ngIf="key =='dayChange'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th *ngIf="resolutionColumn.dayVolume" style="width:100px;" (click)="sort('dayVolume')"> Volume (24H)
        <span class="fa sort-icon" *ngIf="key =='dayVolume'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th *ngIf="resolutionColumn.marketCap" (click)="sort('marketCap')">Market CAP
        <span class="fa sort-icon" *ngIf="key =='marketCap'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <th *ngIf="resolutionColumn.dayHighLow" (click)="sort('highestPrice')">24 HR High / Low
        <span class="fa sort-icon" *ngIf="key =='highestPrice'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span>
      </th>
      <!-- <th (click)="sort('lowestPrice')">24 LOW HIGH  <span class="fa sort-icon" *ngIf="key =='lowestPrice'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></span></th> -->
    </thead>

    
    <tbody *ngFor="let coins of favCoinsList; let i = index" class="favourite_coins">
        <tr style="cursor:pointer">
            <td>{{i+1}}</td>
            <td *ngIf="resolutionColumn.coin" (click)="coinDetails(coins.pair)" class="coinBlock">
              <span>
                <img class="coinLogo" src="http://coinwave.service.colanonline.net/upload/{{coins.image}}">
                {{coins.name }}</span>
            </td>
            <td *ngIf="resolutionColumn.price" (click)="coinDetails(coins.pair)" class="column-price" [ngClass]="{'colorGreen': coins.priceStatus === 'true','colorRed': coins.priceStatus === 'false'}">
              <b>{{coins.price * currencyValue | number:'.0-2'}}</b>
              <span class="fa upDownSymbol" [ngClass]="{'arrow-up': coins.priceStatus === 'true','arrow-down': coins.priceStatus === 'false'}"></span>
            </td>
            <td *ngIf="resolutionColumn.expand" class="graphTabledata" (click)="expandGraph(event,i,coins.pair,coins.name,'tv_chart_containerFav','expandFav')">
              <i class="fa fa-arrows-alt"></i>
            </td>
            <td *ngIf="resolutionColumn.favourite">
              <input type="checkbox" class="favorite_coin" (click)="favCoinFunctionality(coins.pair)" checked >
            </td>
            <td *ngIf="resolutionColumn.dayChange" (click)="coinDetails(coins.pair)" class="" [ngClass]="{'colorGreen': coins.dayPriceStatus === 'true','colorRed': coins.dayPriceStatus === 'false'}">{{coins.dayPrice *currencyValue | number:'.0-2'}} ({{coins.dayPricePercent | number:'.0-2'}})
              <span class="fa upDownSymbol" [ngClass]="{'arrow-up': coins.dayPriceStatus === 'true','arrow-down': coins.dayPriceStatus === 'false'}"></span>
            </td>
            <td *ngIf="resolutionColumn.weaklyChange" (click)="coinDetails(coins.pair)" class=" " [ngClass]="{'colorGreen': coins.weeklyChangeStatus === 'true','colorRed': coins.weeklyChangeStatus === 'false'}">{{coins.weeklyChange * currencyValue | number:'.0-2'}} ({{coins.weeklyChangePercent | number:'.0-2'}})
              <span class="fa upDownSymbol"
                [ngClass]="{'arrow-up': coins.weeklyChangeStatus === 'true','arrow-down': coins.weeklyChangeStatus === 'false'}"></span>
            </td>
            <td *ngIf="resolutionColumn.dayVolume" (click)="coinDetails(coins.pair)">{{coins.dayVolume * currencyValue | number:'.0-2'}}</td>
            <td *ngIf="resolutionColumn.marketCap" (click)="coinDetails(coins.pair)">{{coins.marketCapValue * currencyValue | number:'.0-2'}}</td>
            <td *ngIf="resolutionColumn.dayHighLow" (click)="coinDetails(coins.pair)">{{coins.highestPrice * currencyValue | number:'.0-2'}} / {{coins.lowestPrice * currencyValue | number:'.0-2'}}</td>
          </tr>
          <tr id="expandFav{{i}}" class="hidingNow">
            <td colspan="11" height="300px;" width="100%">
              <div class="app-tv-chart-container app-tv-chart-container_multi" id="tv_chart_containerFav{{i}}"></div>
              <!-- <div class="app-tv-chart-container" id="tv_chart_container2{{i}}"></div> -->
              <div class="col-md-2 float-right chart_rgt_cont">
                <ul>
                  <li>
                    <label>Currency</label>
                    <div class="in_sel-term">
                      <select>
                        <option>USD</option>
                      </select>
                    </div>
                  </li>
                  <li>
                    <label>Low/High 24h</label>
                    <span>{{coins.highestPrice * currencyValue | number:'.0-2'}} / {{coins.lowestPrice * currencyValue | number:'.0-2'}}</span>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
   </tbody>
    <tbody *ngFor="let coins of coinList | filter: searchText | orderBy: key : reverse ; let i = index ">
      <tr style="cursor:pointer">
        <td>{{favCoinsList.length+i+1}}</td>
        <td *ngIf="resolutionColumn.coin" (click)="coinDetails(coins.pair)" class="coinBlock">
          <span>
            <img class="coinLogo" src="http://coinwave.service.colanonline.net/upload/{{coins.image}}">
            {{coins.name }}</span>
        </td>
        <td *ngIf="resolutionColumn.price" (click)="coinDetails(coins.pair)" class="column-price" [ngClass]="{'colorGreen': coins.priceStatus === 'true','colorRed': coins.priceStatus === 'false'}">
          <b>{{coins.price * currencyValue | number:'.0-2'}}</b>
          <span class="fa upDownSymbol" [ngClass]="{'arrow-up': coins.priceStatus === 'true','arrow-down': coins.priceStatus === 'false'}"></span>
        </td>
        <td *ngIf="resolutionColumn.expand" class="graphTabledata" (click)="expandGraph(event,i,coins.pair,coins.name,'tv_chart_container','expand')">
          <i class="fa fa-arrows-alt"></i>
        </td>
        <td *ngIf="resolutionColumn.favourite">
          <input type="checkbox" class="favorite_coin" (click)="favCoinFunctionality(coins.pair)" [(ngModel)]="coins.checked">
        </td>
        <td *ngIf="resolutionColumn.dayChange" (click)="coinDetails(coins.pair)" class="" [ngClass]="{'colorGreen': coins.dayPriceStatus === 'true','colorRed': coins.dayPriceStatus === 'false'}">{{coins.dayPrice *currencyValue | number:'.0-2'}} ({{coins.dayPricePercent | number:'.0-2'}})
          <span class="fa upDownSymbol" [ngClass]="{'arrow-up': coins.dayPriceStatus === 'true','arrow-down': coins.dayPriceStatus === 'false'}"></span>
        </td>
        <td *ngIf="resolutionColumn.weaklyChange" (click)="coinDetails(coins.pair)" class=" " [ngClass]="{'colorGreen': coins.weeklyChangeStatus === 'true','colorRed': coins.weeklyChangeStatus === 'false'}">{{coins.weeklyChange * currencyValue | number:'.0-2'}} ({{coins.weeklyChangePercent | number:'.0-2'}})
          <span class="fa upDownSymbol"
            [ngClass]="{'arrow-up': coins.weeklyChangeStatus === 'true','arrow-down': coins.weeklyChangeStatus === 'false'}"></span>
        </td>
        <td *ngIf="resolutionColumn.dayVolume" (click)="coinDetails(coins.pair)">{{coins.dayVolume * currencyValue | number:'.0-2'}}</td>
        <td *ngIf="resolutionColumn.marketCap" (click)="coinDetails(coins.pair)">{{coins.marketCapValue * currencyValue | number:'.0-2'}}</td>
        <td *ngIf="resolutionColumn.dayHighLow" (click)="coinDetails(coins.pair)">{{coins.highestPrice * currencyValue | number:'.0-2'}} / {{coins.lowestPrice * currencyValue | number:'.0-2'}}</td>
      </tr>
      <tr id="expand{{i}}" class="hidingNow">
        <td colspan="11" height="300px;" width="100%">
          <div class="app-tv-chart-container app-tv-chart-container_multi" id="tv_chart_container{{i}}"></div>
          <!-- <div class="app-tv-chart-container" id="tv_chart_container2{{i}}"></div> -->
          <div class="col-md-2 float-right chart_rgt_cont">
            <ul>
              <li>
                <label>Currency</label>
                <div class="in_sel-term">
                  <select>
                    <option>USD</option>
                  </select>
                </div>
              </li>
              <li>
                <label>Low/High 24h</label>
                <span>{{coins.highestPrice * currencyValue | number:'.0-2'}} / {{coins.lowestPrice * currencyValue | number:'.0-2'}}</span>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <td (click)="coinDetails(coins.pair)" class="column-HRchange">{{coins.HRchange}} 453454</td>
  <td (click)="coinDetails(coins.pair)" class="  column-dayChange">{{coins.dayChange}}</td>
  <td (click)="coinDetails(coins.pair)">{{coins.Hrvolume}}</td>
  <td (click)="coinDetails(coins.pair)">{{coins.marketCap}}</td>
  <td (click)="coinDetails(coins.pair)">{{coins.hrhigh}}</td>
  <td (click)="coinDetails(coins.pair)">{{coins.hrlow}}</td> -->

  

<!--Modal: Login Form-->
<div mdbModal #loginform="mdb-modal" class=" modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-user"></i> Log in</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="loginform.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" [(ngModel)]="userLogin.emailId" class="form-control" placeholder="Enter Email">
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" [(ngModel)]="userLogin.password" class="form-control" placeholder="Enter Password">
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" (click)="loginWithMail(userLogin)" mdbWavesEffect>Log in
                        <i class="fa fa-sign-in ml-1"></i>
                    </button>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Not a member?
                        <a (click)="loginform.hide();registerform.show()">Sign Up</a>
                    </p>
                    <p>Forgot
                        <a href="#">Password?</a>
                    </p>
                </div>
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="loginform.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login Form-->

<!--Modal: Register Form-->
<div mdbModal #registerform="mdb-modal" class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title">
                    <i class="fa fa-user-plus"></i> Register</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="registerform.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" [(ngModel)]="userReg.userName" class="form-control" placeholder="User Name">
                    
                </div>
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" [(ngModel)]="userReg.emailId" class="form-control" placeholder="Enter Email">
                    
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" [(ngModel)]="userReg.password" (blur)="confirmPassword()" class="form-control" placeholder="Enter Password">
                    
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" [(ngModel)]="userReg.confrmPswrd" (blur)="confirmPassword()" id="form34" class="form-control" placeholder="Confirm Password">
                    
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-info waves-light" (click)="signUpWithMail(userReg)" mdbWavesEffect>Sign up
                        <i class="fa fa-sign-in ml-1"></i>
                    </button>
                </div>


            </div>
            <!--Footer-->
            <div class="modal-footer">
                <div class="options text-center text-md-right mt-1">
                    <p>Already have an account?
                        <a (click)="registerform.hide();loginform.show()">Log In</a>
                    </p>
                </div>
                <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="registerform.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Register Form-->
<!-- Success Pop Up-->
<div mdbModal #successMessage="mdb-modal" class="modal fade right" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-side modal-top-right modal-notify modal-warning" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title w-auto" id="myModalLabel">{{successMessagePopup}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="successMessage.hide()">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
      </div>
  </div>
</div>
<!-- Error  Pop Up-->
<div mdbModal #errorMessage="mdb-modal" class="modal fade right" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title w-auto" id="myModalLabel">Oops! Something went wrong, Please try agian later.</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="errorMessage.hide()">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
      </div>
  </div>
</div>